:root{
    --my_blue:#1e235c;
    --main_blue:#9caeff;
    --box_shadow_blue: #002699;
    --box_shadow: 5px 5px 8px var(--box_shadow_blue)/*#0030cc*/; /*ha skugga på texten i heqader också*/
    --main_white: #d6e0ff/*#e5ebff*/;
    --logo_border_radius: 4px;
    --text_shadow:7px 5px 10px var(--main_white);
    --box_border_radius: 10px;
}
body{
    margin: 0px;
    background-color: transparent;
    /*background-color: green;*/
}
#container{
    background-color:var(--main_white) /*#ccd5ff*/;
    height: 200vh;
    display:grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: 15vh 1fr 1fr 20vh;
    grid-template-areas: "hd hd"
        "nv mn"
        "nv mn"
        "ft ft";
header{
    box-shadow: var(--box_shadow);
    background-color: var(--main_blue);
    grid-area: hd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1{
        text-shadow: var(--text_shadow);
    }
    #hdBLogo{
        margin-left: 10px;
    }
}
a{
    color: black;
    text-shadow: var(--text_shadow);
}
.currentA{
    background-color: var(--main_white);
}
nav{
    box-shadow: var(--box_shadow);
    background-color: var(--main_blue);
    grid-area: nv;
    
    /*display:grid;*/

}
#navCloseButton{
    /*justify-self: end;*/
    height: 10vh;
    position:absolute;
    right:0;
    background-color: transparent;
    border-style: none;
}
main{
    /*background-color: #9caeff/*#8099ff#e5eaff*/
    grid-area: mn;
    box-shadow: var(--box_shadow);
    background-color: var(--main_white);
    .catSec{
            background-color: black;
            justify-content: center;
            align-items: center;
            border-radius: var(--box_border_radius);
            box-shadow: var(--box_shadow);
        }
    .catSecImg{
        margin-left: 10px;
        margin-right: 10px;
    }
    
}

footer{
    background-color: var(--main_blue);
    grid-area: ft;
}
}
/*p{ Kolla om vi vill ha den färgen som textfärg
    color:#fffffc;
}*/

/*Font för header + fancy saker*/
.dm-serif-display-regular{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
/*font för brödtext och vanliga saker*/
.outfitText{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 900; */
  font-style: normal;
}


#hdBLogo, #navClose, #hdNav{
    box-shadow: var(--box_shadow);
    border-radius: var(--logo_border_radius);
}

#hdBLogo, #navClose{
    height: 8vh;
    
}
#hdNav{
    height: 8.5vh;
}

/*Mobile*/
@media screen and (max-width:480px){
    #container{
    height: 185vh;
    display:flex;
    flex-direction: column;
    }
    nav{
        position: fixed;
        width: 92vw;
        height: 96vh;
        left: -100vw;
        transition: left 0.5s;
        a{
            font-size: 2.5em;
        }        
    }
    nav.show{
        left: 0;
    }
    header{
        height: 10vh;
        h1{
            font-size: 2.5em;
        }
    }
    main{
        height: 125vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content:space-around;
        .catSecImg{
            height: 25vh;
        }
        #catSec8, #catSec9, #catSec10, #catSec11{
            display: none;
        }
        .catSec{
            height: 30vh;
            display: flex;
        }
    }
    footer{
        height: 50vh;
        
        h4{
        margin: 0.3em 0em 0em 0.3em;
        font-size: 1.4em;
        text-shadow: var(--text_shadow);
        }
        p{
        margin: 1em 0.5em 0.1em 0.5em;
        font-size: 1.15em;
        text-shadow: var(--text_shadow);
        font-weight: 600;
        }
        ul{
        text-shadow: var(--text_shadow);
        font-size: 1.05em;
        }
        
    }
    #hdNavButton{
        background-color: transparent;
        border-style: none;
        border-radius: 100px;
    }
}

/*Desktop*/
@media screen and (min-width:481px){
    #hdNavButton, #navCloseButton{
        display:none;
    }
    header{
        z-index: 3;
        h1{
            font-size: 3.5em;
        }
    }
    nav{
        z-index: 2;
        a{
            font-size: 1.5em;
        }
    }
    main{
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        justify-content: space-around;
        .catSecImg{
            height: 45vh;
        }
        .catSec{
            height: 50vh;
            display: flex;
        }
        #catSec5{
            order: 12;
        }
    }
    footer{
        display: flex;
        flex-direction: row;
    
    
    #footBild{
        flex-grow: 0.1;
    }
    
    #footText{
        flex-grow: 0.1;
    }
    
    
    h4{
        margin: 0.5em;
        font-size: 2em;
        text-shadow: var(--text_shadow);
    }
    p{
        margin: 1em 0.5em 0.15em 0.5em;
        font-size: 1.2em;
        text-shadow: var(--text_shadow);
        font-weight: 600;
    }
    ul{
        margin: 0.3em;
        text-shadow: var(--text_shadow);
    }
    }

}
